<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Partners</ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item-sliding (click)="logTest();dormir()">
          <ion-item>
            <ion-avatar slot="start">
              <img src="../../assets/icon/favicon.png">
            </ion-avatar>
            <ion-label style="display: block;">Tchakala VIP</ion-label>
            <ion-label style="display: block;">Schreck</ion-label>
          </ion-item>
        <ion-item-options side="start">
          <ion-item-option (click)="unRead()"><ion-icon slot="start" name="call"></ion-icon></ion-item-option>
          <ion-item-option color="primary" (click)="callPart()"><ion-icon slot="end" name="mail"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-list>

<!--   <ion-list>
      <ion-list-header color="tertiary">
          <ion-label>Partner</ion-label>
      </ion-list-header>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/favicon.png" />
          <ion-label>Peperoni</ion-label>
          <ion-label position="inline">Second...</ion-label>
        <ion-item-options side="end">
          <ion-item-option (click)="unRead()" >
            book
          </ion-item-option>
          <ion-item-option (click)="callPart()">
            <ion-icon name="call" slot="start">Call</ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item>

    </ion-item-sliding>

  </ion-list> -->
      
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="dark">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="primary">
          <ion-icon name="person-add">new partner </ion-icon>
        </ion-fab-button>
        <ion-fab-button color="primary">
          <ion-icon name="folder">new domain</ion-icon>
        </ion-fab-button>
        <ion-fab-button color="primary">
          <ion-icon name="folder-open">new speciality</ion-icon>
        </ion-fab-button>
        <ion-fab-button color="primary">
          new speciality
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
